@import url(./reset.css);

body {
    background-image: url(../img/bg.jpg);
    background-color: #ffffffcc;
    background-blend-mode: overlay;
    background-attachment: fixed;

    font-size: 16px;

}

header {
    position: fixed;
    height: 5vh;
    background: #000;
    left: 0;
    right: 0;
    top: 0;
}

.banner-wrapper {
    margin-top: 5vh;
    position: relative;
    min-height: 30rem;
    max-height: 35rem;
    overflow: hidden;
}

.banner-video {

   

}